body {
    font-family: "Helvetica Neue", sans-serif;
    /*background-color: #41a3d1;*/
}
main {
    margin: 3em;
}
h2 {
    text-align: center;
    font-size: 1.5em;
}
p.caption {
    /*font-size: 0.8em;*/
    font-style: italic;
    color: #9A9A9B;
}
#chart-type-form select {
    width: 100%;
    /*margin: 0 auto 1em;*/
}
#input-table {
    margin: 1em 0;
}
button {

}
/*#button-row .right-column {*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
/*}*/