body {
    font-family: 'Lato', sans-serif;
    /*background-color: #41a3d1;*/
}

main {
    margin: 3em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

p.caption {
    /*font-size: 90%;*/
    font-style: italic;
    color: #9A9A9B;
}

#chart-type-form select {
    width: 100%;
    margin-bottom: 1em;
    /*margin: 0 auto 1em;*/
}

#table-div {
    /*margin: 1em 0;*/
    /*font-size: 90%;*/
}

.flex-container {
    display: flex;
}

.flex-item-grow1 {
    flex-grow: 1;
}

input {
    float: right;
    width: 100%;
}

input.field {
    border-radius: 10px;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    outline: none;
}

input.field:focus {
    background-color: #e7e7e7;
}

input[type=text] {
    padding: 0 0.5em;
    margin: 0.1em 0;
}

input[type=number] {
    padding-left: 0.5em;
}


button {
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    background-color: white;
    color: black;
    opacity: 0.7;
    transition: .2s;
    margin-top: 1em;
    line-height: 2em;
    outline: none;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 1;
    background-color: #e7e7e7;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #e7e7e7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    top: 20%;
}

/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #41a3d1;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #41a3d1;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #41a3d1;
    cursor: pointer;
}
