@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'handsontable/dist/handsontable.min.css';

@font-face {
    font-family: 'Lato';
    src: url(./assets/Lato-Regular.ttf);
}

.handsontable {
    font-family: 'Lato', sans-serif;
    font-size: medium;
}

body {
    font-family: 'Lato', sans-serif;
}

main.container {
    margin-top: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

select {
    border-radius: 10px;
    border: 2px solid #E7E7E7;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    outline: none;
    box-shadow: none;
    padding: 2.6px;
}
select:hover {
    background-color: #E7E7E7;
}
select:focus {
    background-color: #E7E7E7;
}

#chart-type-form select {
    width: 100%;
    margin-top: 0.7em;
    margin-bottom: 1em;
}

p.caption {
    font-style: italic;
    color: #9A9A9A;
}

.flex-container {
    display: flex;
}
.flex-item-grow1 {
    flex-grow: 1;
}
.flex-item-grow0 {
    flex-grow: 0;
}

label {
    margin: 0;
}
label span {
    padding: 0.1em 0.5em;
    border-radius: 5px;

    opacity: 0.7;
    transition: .2s;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
label input:checked ~ span {
    background-color: #41A3D1;
    color: white;
    opacity: 1;
}
label input:disabled ~ span {
    opacity: 0.3; 
}
label:hover span {
    background-color: #E7E7E7;
    color: black;
    opacity: 1;
}

.row {
    margin-bottom: 0.5em;
}

.des {
    line-height: 1.7em;
    padding-right: 0;
}

.range {
    padding-top: 10px;
    margin-bottom: 1em;
}

.text {
    padding-left: 0;
}

#chart-info-form {
    margin-top: 0.5em;
}
#chart-info-form .des {
    line-height: 2em;
}
#chart-info-form .row {
    margin-bottom: 0.3em;
}

#button-row {
    margin-top: 0.5em;
}

/* Compute button for Periodogram in Pulsar */
#compute {
    color: #41A3D1;
    background-color: white;
    opacity: 1;
}
#compute:focus {
    outline: none;
    opacity: 1;
}
#compute:hover {
    color: white;
    background-color: #41A3D1;
    /* background-color: #E7E7E7; */
}

button {
    border: 2px solid #E7E7E7;
    border-radius: 10px;
    background-color: white;
    color: black;
    opacity: 0.7;
    transition: .2s;
    margin-bottom: .5em;
    line-height: 2em;
    outline: none;
}
button:focus {
    outline: none;
    opacity: 1;
    /*background-color: #E7E7E7;*/
}
button:hover {
    opacity: 1;
    background-color: #E7E7E7;
}

button.graphControl {
    height: 41px;
    width: 41px;
    position: relative;
    bottom: -0.35em;
}

center.graphControl {
    font-size: 27px;
}

input {
    float: right;
    width: 100%;
}

input.field {
    padding-left: 0.5em;
    border-radius: 10px;
    border: 2px solid #E7E7E7;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    outline: none;
    box-shadow: none;
}
input.field:focus {
    background-color: #E7E7E7;
}
input.field:disabled {
    opacity: 0.7;
}

input[type=radio].table {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=radio].scale {
    cursor: pointer;
}

input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #E7E7E7;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
input[type=range]:focus {
    outline: none;
    opacity: 1;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #41A3D1;
    cursor: pointer;
    border: none;
}
input[type=range]::-moz-range-track {
    background-color: transparent;
    /*outline: none;*/
}
input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #41A3D1;
    cursor: pointer;
    border: none;
}

input[type=radio].scaleSelection {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 0;
}

label.scaleSelection{
    border-radius: 10px;
    border: 2px solid #E7E7E7;
    margin-bottom: 1.5em;
    line-height: 2em;
    padding-bottom: 0em;
    padding-top: 0em;
    background-color: white;
    width:max-content;
    height: 41px;
}
label.scaleSelection:hover{
    opacity: 1;
    background-color: #E7E7E7; 
}
label.scaleSelection.left{
    align-self: right;
}

label.scaleSelection.right{
    align-self: left;
}

h2.ie {
    margin: 3em auto 1em;
    font-size: 48px;
    font-weight: bold;
}
p.ie {
    margin: 1em 5em;
    text-align: center;
}

text.focus-prompt {
    color: grey;
    float: right;
    display: none;
    margin-bottom: .3em;
    line-height: 2em;
}

div.extra {
    margin-top: -4.55px;
    /* margin: 0;
    padding: 0; */
    float: right;
}